body {
    font-family: 'Outfit', sans-serif;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: var(--body);
}

h1 {
    font-size: var(--large-fs) !important;
    font-weight: var(--bold) !important;
    transform: translateY(20px) !important;
    transition: all 1s ease !important;
}

h2 {
    font-size: var(--medium-fs) !important;
    font-weight: var(--bold) !important;
}

p {
    font-size: var(--normal-fs) !important;
}